<div class="inner">
        <form action="http://whywewon.createsend.com/t/i/s/trhhe/" method="post" id="subForm">
            <fieldset>
                <legend>Win a game, get an awesome email</legend>
                <p class="newsletter">
                    <input placeholder="Email address goes here" id="fieldEmail" name="cm-trhhe-trhhe" type="email" required />
                </p>
                <p class="newsletter">Then choose your team (or teams, freak):<br/>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-0" name="cm-fo-jyuin" value="334371" type="checkbox"  />
                    <label class="label-for-check stamp ac" for="fieldjyuin-0">
                    &nbsp;&nbsp;A&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-1" name="cm-fo-jyuin" value="334372" type="checkbox" />
                    <label class="label-for-check stamp bl" for="fieldjyuin-1">&nbsp;&nbsp;B&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-2" name="cm-fo-jyuin" value="334373" type="checkbox" />
                    <label class="label-for-check stamp ca" for="fieldjyuin-2">&nbsp;&nbsp;C&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-3" name="cm-fo-jyuin" value="334374" type="checkbox" />
                    <label class="label-for-check stamp co" for="fieldjyuin-3">&nbsp;&nbsp;C&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-4" name="cm-fo-jyuin" value="334375" type="checkbox" />
                    <label class="label-for-check stamp es" for="fieldjyuin-4">&nbsp;&nbsp;E&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-5" name="cm-fo-jyuin" value="334376" type="checkbox" />
                    <label class="label-for-check stamp fd" for="fieldjyuin-5">&nbsp;&nbsp;F&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-6" name="cm-fo-jyuin" value="334377" type="checkbox" />
                    <label class="label-for-check stamp ge" for="fieldjyuin-6">&nbsp;&nbsp;G&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-7" name="cm-fo-jyuin" value="334378" type="checkbox" />
                    <label class="label-for-check stamp gc" for="fieldjyuin-7">&nbsp;&nbsp;G&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-8" name="cm-fo-jyuin" value="334379" type="checkbox" />
                    <label class="label-for-check stamp gg" for="fieldjyuin-8">&nbsp;&nbsp;G&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-9" name="cm-fo-jyuin" value="334380" type="checkbox" />
                    <label class="label-for-check stamp ha" for="fieldjyuin-9">&nbsp;&nbsp;H&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-10" name="cm-fo-jyuin" value="334381" type="checkbox" />
                    <label class="label-for-check stamp me" for="fieldjyuin-10">&nbsp;&nbsp;M&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-11" name="cm-fo-jyuin" value="334382" type="checkbox" />
                    <label class="label-for-check stamp nm" for="fieldjyuin-11">&nbsp;&nbsp;N&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-12" name="cm-fo-jyuin" value="334383" type="checkbox" />
                    <label class="label-for-check stamp pa" for="fieldjyuin-12">&nbsp;&nbsp;P&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-13" name="cm-fo-jyuin" value="334384" type="checkbox" />
                    <label class="label-for-check stamp ri" for="fieldjyuin-13">&nbsp;&nbsp;R&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-14" name="cm-fo-jyuin" value="334385" type="checkbox" />
                    <label class="label-for-check stamp sk" for="fieldjyuin-14">&nbsp;&nbsp;S&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-15" name="cm-fo-jyuin" value="334386" type="checkbox" />
                    <label class="label-for-check stamp sy" for="fieldjyuin-15">&nbsp;&nbsp;S&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-16" name="cm-fo-jyuin" value="334387" type="checkbox" />
                    <label class="label-for-check stamp wc" for="fieldjyuin-16">&nbsp;&nbsp;W&nbsp;&nbsp;</label>
                    </span>
                    <span class="nowrap">
                    <input class="hidden check-with-label" id="fieldjyuin-17" name="cm-fo-jyuin" value="334388" type="checkbox" />
                    <label class="label-for-check stamp wb" for="fieldjyuin-17">&nbsp;&nbsp;W&nbsp;&nbsp;</label>
                    </span>
                </p>
                <p class="newsletter">
                    <button type="submit">Sign me up</button>
                </p>
                
            </fieldset>
        </form>
</div>